Options -MultiViews
RewriteEngine On
RewriteBase /
DirectoryIndex index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

# Enable Cors
Header set Access-Control-Allow-Origin "*"

# Prevent directory listing
Options -Indexes

# Serve app-ads.txt with correct MIME type
<Files "app-ads.txt">
    ForceType text/plain
</Files>
